@model IEnumerable<Bruker>

    @{
        ViewData["Title"] = "Brukerliste";
    }
    
    <h1>Brukerliste</h1>
    
    <p>
        <a asp-action="Create" class="btn btn-primary">Opprett ny bruker</a>
    </p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Kontaktinfo</th>
                <th>Antall spill</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.Navn</td>
                <td>@item.KontaktInfo</td>
                <td>@item.AntallSpill</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    